#ada-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ada-image-upload {
  display: none;
}

#ada-upload #upload-button:hover {
  background-color: rgba(4,75,100,1);
}
