#ada-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ada-upload-loader {
  position: absolute !important;
  z-index: 10 !important;
  margin-left: auto !important;
  left: 0 !important;
  margin-right: auto !important;
  right: 0 !important;
  top: 40% !important;
}

#ada-image-upload {
  display: none;
}

.ada-upload-error-message-container {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.ada-upload-error-message {
  max-width: 80%;
  margin-top: 10px;
  color: darkred;
  font-weight: 700;
  overflow-wrap: normal;
  text-align: center;
}

#ada-upload #upload-button:hover {
  background-color: rgba(4,75,100,1);
}
