.app-nav {
  box-sizing: border-box;
  height: 8%;
  padding: 0.3rem 1rem 0.3rem 1rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-nav .amplify-menu-trigger:hover {
  background-color: rgba(4,75,100,1) !important;
  color: white;
  border-color: rgba(4,75,100,1) !important;
}

.app-nav-menu-item.active {
  background-color: rgba(4,75,100,1) !important;
  color: white;
}

.app-nav-menu-item-icon {
  margin-right: 0.5em !important;
}
